.DS_Store

# stimulus set
experiments/stimuli.py
experiments/2_sayAdv-main/stimulus/
experiments/2_sayAdv/
experiments/3_sayAdv-context/stimulus/


# data
data/1_written-context/all_original/
data/2_sayAdv/all_original/
data/3_sayAdv-context/all_original/
data/**/*.config
data/**/*.exps
# data/*.csv
data/1a_mos_say/all_original/
data/1b_mos_say-context/

# analysis
analysis/1_written-context/rscripts/analysis.R
analysis/1b_mos_say-context/

# plot 
analysis/1_written-context/graphs/main/legend.pdf
analysis/1_written-context/graphs/main/mos_acc_nosig.pdf
analysis/1_written-context/graphs/main/mos_bg_nosig.pdf
analysis/2_sayAdv/graphs/main/mos_acc.pdf
analysis/2_sayAdv/graphs/main/mos_scr_plot_error_bar.pdf
analysis/2_sayAdv/graphs/main/mos_google_vff_plot.pdf
analysis/3_sayAdv-context/graphs/main/legend.pdf
analysis/3_sayAdv-context/graphs/main/mos_bg.pdf
analysis/3_sayAdv-context/graphs/main/mos_acc.pdf

# Rproj
analysis/**/*.Rproj

.Rproj.user

# writing
writings/MoS_Island_Manuscript.pdf
