.DS_Store

# stimulus set
experiments/2_sayAdv/stimulus/
experiments/stimuli.py

# data
data/1_written-context/all_original
data/**/*.config
data/**/*.exps

# plot 
analysis/1_written-context/graphs/main/legend.pdf

# Rproj
analysis/**/*.Rproj

.Rproj.user

# writing
writing/
